* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  background-color: rgb(11, 164, 164);
}

/*makes it so the image is in the middle of the screen*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 175px;
}

header {
  border-bottom: 1px solid black;
}

h1 {
  font-weight: bold;
  color: #000;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}


li {
  margin-bottom: 5px;
}

footer {
  padding-top: 25px;
  border-top: 1px solid black;
}

footer a {
  float: left;
  margin: 5px;
}

.pet-image {
  height: 250px;
}

.dashboard div {
  display: block;
}

.pet-image-container {
  float: left;
  padding: 10px;
}

.dashboard {
  float: left;
  padding: 20px;
}

.button-container {
  margin-top: 20px;
}

.button-container button {
  height: 70px;
  width: 100px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  float: left;
  font-size: 15px;
  background-color: #1e2835;
  border-color: #404853;
  cursor: pointer;
  background-image: linear-gradient(to bottom, rgba(246, 246, 246, .1)0%, rgba(30, 40, 53, 0)66%);
  color: #fafafa;
}

.pet-message {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  min-height: 25px;
}

/*visual for disabling the button*/
.disabled-btn {
  opacity: 0.4;
  pointer-events: none;
}